*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #a5bd84;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    top: 0;
    background-color: #4f6136;
    background-size: 50%;
    position: sticky;
}

nav{
    background-color: #ec8482;
    color: #f9cac3;
    padding: 20px;
    position: sticky;
}

.pho{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-pho h2{
    color: #ec8482;
    font-size: 48pt;
}

.about-pho h3{
    color: #5f6d4c;
    font-size: 32pt
}

.pho-summary p{
    color: #5f6d4c;
    font-size: 28pt;
}

.about-pho img{
    height: 300px;
}