*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: aqua;
}
.about-alex{
    padding:#ffe2db;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-alex h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}