*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #ffe2db;
    text-align: center;
}

header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.charley{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-charley h2{
    color: #5f6d4c;
    font-size: 48pt;
}

.about-charley h3{
    color:#ec8482;
    font-size: 32pt
}

.charley-summary p{
    color:#ec8482;
    font-size: 28pt;
}